body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #e8e8e8;
}

#layout {
  width: 100%;
  height: 100%;
}

#nav {
  width: 100%;
  height: 80px;
  /* background: #fcfcfc; */
  background: #000;
  position: relative;
  top: 0;
  left: 0;
  border-bottom: 1px solid white;
}

#nav h1 {
  font-size: 30px;
  padding: 20px 20px 15px;
  margin: 0;
  color: white;
}

#nav img {
  width: 50px;
  float: right;
  display: inline-block;
  position: absolute;
  top: 14px;
  right: 14px;
  filter: invert(1);
}

#nav img:hover {
  cursor: pointer;
}

#side-nav {
  height: 92vh;
  width: 15%;
  /* background: #434343; */
  /* background: #373737; */
  background: #000;
  display: inline-block;
  float: left;
  position: relative;
  color: #ffffff;
  letter-spacing: 4px;
  text-align: center;
}

#side-nav span {
  /* margin: 40px 30px; */
  font-size: 20px;
  display: block;
  /* background: grey; */
  /* padding-top: 20px;
  padding-left: 20px; */
  padding: 30px;
  font-weight: bold;
  transition-duration: 0.5s;
  color: #ff368f;
  border-bottom: 1px solid #343434;
}

#side-nav span:hover {
  cursor: pointer;
  background: black;
  /* font-size: 23px; */
  letter-spacing: 6px;
  filter: hue-rotate(300deg);
}

.active {
  color: red;
}

#proposal-container {
  display: inline-block;
  float: left;
  width: 85%;
}

#initiative-item {
  display: inline-block;
  width: 77%;
  padding-bottom: 10px;
  height: 110px;
  /* background: #bdbdbd; */
}

#initiative-item h2 {
  margin: 30px 47px 25px 47px;
  font-size: 28px;
  display: inline-block;
  margin-right: 55px;
}

#initiative-item-nav {
  float: right;
  margin-top: 44px;
}

#initiative-item span {
  margin-left: 11px;
  font-size: 17px;
  color: #7e7e7e;
  transition-duration: 0.5s;
}

#initiative-item span:hover {
  cursor: pointer;
  letter-spacing: 1px;
  cursor: pointer;
}

.divider {
  font-size: 18px;
}

.divider:hover {
  cursor: none;
  letter-spacing: 0px;
}

#initiative-item p {
  margin: 0 47px 10px;
}

#proposal-item-container {
  display: inline-block;
  float: left;
  width: 85%;
  height: 356px;
  overflow: scroll;
  margin-top: 5px;
  margin-bottom: 10px;
}

#proposal-item {
  width: 86%;
  margin: 20px 45px;
  background: white;
  padding: 10px 15px;
  border-radius: 10px;
}

#proposal-item h4 {
  font-size: 20px;
  margin: 25px 10px;
  display: inline-block;
  margin-right: 50px;
}

#proposal-item button {
  padding: 5px;
  float: right;
  margin: 20px;
}

#proposal-item h6 {
  display: inline-block;
  margin: 24px 10px;
  font-size: 16px;
  float: right;
}

#add-proposal {
  display: inline-block;
  /* background: black; */
  /* color: #595959; */
  width: 85%;
}

#add-proposal form {
  margin: 25px 45px 35px;
}

#add-proposal label {
  margin: 5px;
  font-size: 20px;
}

#add-proposal input {
  margin: 5px;
  font-size: 19px;
  margin-right: 22px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white;
}

#add-proposal button, #side-nav button {
  background-color: #8d8d8d;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  padding: 10px;
  width: 100px;
  transition-duration: 0.5s;
}

#add-proposal button:hover {
  /* color: #e9e9e9; */
  letter-spacing: 1px;
}

#side-nav button {
  width: 82%;
  position: absolute;
  bottom: 45px;
  left: 20px;
  background: black;
  border: 1px solid #a5a5a5;
  color: #d2d2d2;
  transition-duration: 0.5s;
}

#side-nav button:hover {
  letter-spacing: 1px;
}

/* LOG IN */
#login {
  background: #111111;
}

#welcome-prompt {
  width: 42%;
  height: 655px;
  background: black;
  color: white;
  display: inline-block;
  padding: 30px 0 30px 60px;

}

#welcome-prompt h1 {
  font-size: 85px;
  margin: 5px;
  letter-spacing: 4px;
}

.digital {
  /* color: blue;
  text-shadow: 0 0 9px white; */
  color: black;
  text-shadow: -2px 1px 0px #1fba9d;
}

#login-form {
  display: inline-block;
  width: 45%;
  height: 150px;
  margin-left: 50px;
  position: absolute;
  top: 50%;
  text-align: center;
}

#input-name {
  font-size: 35px;
  display: inline-block;
  border-radius: 5px;
  border: 5px solid white;
  padding: 5px;
  transition-duration: 0.5s;
}

#input-name:focus {
  border: 5px solid #00be9c;
  outline: none;
}

#register {
  font-size: 35px;
  display: inline-block;
  margin-left: 25px;
  border-radius: 5px;
  border: 5px solid white;
  padding: 5px;
  transition-duration: 0.5s;
}

#register:hover {
  cursor: pointer;
  background: #00be9c;
  border: 5px solid #00be9c;
}
