body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #e8e8e8;
}

#layout {
  width: 100%;
  height: 100%;
}

#nav {
  width: 100%;
  height: 80px;
  background: #fcfcfc;
  position: relative;
  top: 0;
  left: 0;
}

#nav h1 {
  font-size: 30px;
  padding: 15px;
  margin: 0;
}

#side-nav {
  height: 630px;
  width: 15%;
  background: #434343;
  display: inline-block;
  float: left;
  position: relative;
  color: #ffffff;
  letter-spacing: 4px;
}

#side-nav span {
  margin: 40px 30px;
  font-size: 20px;
  display: block;
}

#side-nav span:hover {
  color: red;
  cursor: pointer;
}

#proposal-container {
  display: inline-block;
  float: left;
  width: 85%;
}

#proposal-description {
  display: inline-block;
  width: 100%;
  /* height: 130px; */
  /* background: #bdbdbd; */
}

#proposal-description h2 {
  margin: 30px;
  font-size: 28px;
}

#proposal-description p {
  margin: 0 30px 10px;
}

#proposal-item-container {
  display: inline-block;
  float: left;
  width: 100%;
  height: 380px;
  /* background: #8b8b8b; */
  overflow: scroll;
}

#proposal-item {
  width: 80%;
  margin: 20px 30px;
  background: white;
  padding: 20px;
}
